<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CatFacts.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88CFD3FD26136D370090B26A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88CFD41326136D3B0090B26A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88CFD41E26136D3B0090B26A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
